body {
  font-size: 16px;
  font-family: "brandon-grotesque";
  color: #56534c;
}
@media (min-width:1400px) {
  body {
    font-size: 21px
    font-family: "brandon-grotesque";
    color: #56534c;
  }

}

h2 {
  margin-top: 0;
}

a {
  color: #56534c;
}
a:hover {
    color: #e8efa8;
    text-decoration: none;
}

li:active a, li:focus a, li:visited a, li:hover a {
  text-decoration: none;
  border: none;
}
li a:active, li a:focus, li a:visited, li a:hover {
  text-decoration: none;
  border: none;
  color: #56534c;
}
.freight {
  font-weight: 400;
  font-family: "freight-display-pro";
}

.freight-bold {
  font-weight: 700;
  font-family: "freight-display-pro";
}
.freight-italic {
  font-style: italic;
  font-weight: 400;
  font-family: "freight-display-pro";
}
/* 

Main menu - brandon grotesque regular 17  -   56534c

logo header - brandon grotesque regular 29 - 56534c 

Page heading (e.g "Price List" "About Us" etc…)-  brandon grotesque light 28 - 56534c (or black)

Sub Headings (treatment page)  brandon grotesque medium 25 - 56534c (or black)

Body Text  -  brandon grotesque regular 19 - 56534c (or black)

Price List sub headings -  brandon grotesque bold 19 - 56534c (or black)


Colours 
Main Colour (highlights & clicked and buttons) - e8efa8

/* Header */
header.header {
  max-width: 1200px;
  min-height: 70px;
  margin: 0 auto;
}


.container-fluid {
  max-width: 1170px;
}

@media (min-width:1400px) {
  .container-fluid {
    max-width: 1270px;
  }
}
.empty-bar {
  height:70px;
}
.main-container {
  /*min-height: 600px;*/
}



.nav-bar-container {
  background: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 9999;
}



.inner-nav-sticky {
  max-width: 1200px;
  margin: 0 auto;
}
#logo {
  max-width: 300px;
  float: left;
}

#logo h1 a, #logo h1, #mobile-logo h1 a, #mobile-logo h1 {
  font-size: 29px;
  font-weight: normal;
  color: #56534c;
  text-transform: uppercase;
  letter-spacing: 9.8px;
  margin-top: 10px;
}

.logo-container {
  max-width: 340px;
  padding-top: 40px;
  float: right;
  margin-right: 40px;
}
.logo-container img {
  width: 100%;
}
#mobile-logo h1 {
  margin-top: 17px;
}

#logo h1 a:hover, #mobile-logo h1 a:hover {
  text-decoration: none;
  color: #56534c;
}
 
.regular-nav-header {
  max-width: 740px;
  float: right;
}
.homepage-nav-header {
  display: none;
}
.home .homepage-nav-header {
  display: block;
}
.homepage-header-bar {
  /*
  margin-left: -15px;
  margin-right: -15px;
  */
  margin-top: 15px;
}
.homepage-header-bar.stick {
  margin-left: -24px;
  margin-right: -24px;
  margin-top: 15px;
}
.middle-container {
  max-width: 1200px;
}
.login-register {
  text-align: right;
  background: #ffffff;
  padding-top: 6px;
  padding-bottom: 8px;
}
.login-register a {
  color: #535353;
  /* color: #999999; */
  position: relative;
  z-index: 9999999;
}
.login-register {
  color: #535353;
}
.home .map-img-right {
  display: none;
}
p#logo {
  float: left;
  z-index: 999;
  position: relative;
}

nav {
  background: #ffffff;
  margin-top: 6px;
  float: left;
}
nav ul {
  margin: 0;
}
nav ul li {
  display: inline;
  margin-left: 16px;
  font-size: 17px;
}
@media (min-width:1400px) {
  nav ul li {
    display: inline;
    margin-left: 16px;
    font-size: 23px;
  }
}

nav ul li,
nav ul li:hover a,
nav ul li:focus a,
nav ul li a:visited,
nav ul li a {
  color: #56534c;
  text-decoration: none;
  border: none;
}

nav ul li a:hover{
  color: #e8efa8;
  text-decoration: none;
}
@media (max-width: 1020px) {
  nav ul li {
    margin-left: 30px;
  }
  .homepage-header-bar ul#menu-main-menu-1 {
    margin-left: 16px;
  } 
  .homepage-header-bar.stick ul#menu-main-menu-1 {
    margin-left: 15px !important;
  }
}
@media (max-width: 965px) {
  nav ul li {
    margin-left: 25px;
  } 
  .homepage-header-bar ul#menu-main-menu-1 {
    margin-left: 16px;
  }
  .homepage-header-bar.stick ul#menu-main-menu-1 {
    margin-left: 11px !important;
  }
}
@media (max-width: 945px) {
  nav ul li:first-child {
    margin-left: 0;
  } 
  .homepage-header-bar.stick ul#menu-main-menu-1 {
    margin-left: -12px !important;
  }
}
 .content-box {
    margin-bottom: 40px;
  }  
.nav-bar {
  height: 72px;
  background: #ffffff;
}

#social-media-buttons {
  float: right;
}
#social-media-buttons ul {
  margin: 0;
}
#social-media-buttons ul li div {
  width: 26px;
  height: 25px;
}
#social-media-buttons ul li {
  display: inline-block;
  margin-left: 20px;
  vertical-align: bottom;
}
#social-media-buttons .linkedin {
  background: url("../images/linkedin.png") no-repeat;  
}
#social-media-buttons .facebook {
  background: url("../images/facebook.png") no-repeat;  
}
#social-media-buttons .twitter {
  background: url("../images/twitter.png") no-repeat; 
}
.slicknav_nav li {
  font-size: 1.3em; 
  text-transform: uppercase;
}
.slicknav_nav a {
}
@media (max-width:450px) {
  #social-media-buttons {
    display: none;
  }
}
form#searchform {
  margin-top: 20px;
  margin-bottom: 50px;
}

.header-banner-color {
  min-height: 10px;
  background: rgb(242, 246, 212);
}
nav li {
  padding: 0px 14px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; /* future proofing */
  -khtml-border-radius: 4px; /* for old Konqueror browsers */
}
nav #menu-main-menu li:last-child,
nav #menu-main-menu li:last-child a,
nav #menu-main-menu-1 li:last-child,
nav #menu-main-menu-1 li:last-child a {
  color: #fff;
  position: relative;
}
nav #menu-main-menu li:last-child,
nav #menu-main-menu-1 li:last-child {
  /*padding: 2px 4px;*/
}
/*
nav #menu-main-menu li:last-child a::before { 
    content: ">";
    background: url("../images/donate-arrow.png") no-repeat;  
    font-weight: bold;
  position: relative;
  bottom: 2px;
}
*/
nav #menu-main-menu li:last-child a,
nav #menu-main-menu-1 li:last-child a { 
  background: url("../images/donate-arrow.png") no-repeat 5px 4px;
  padding-left: 21px;
  padding-right: 7px;
}

li.active-section {
  background: #e8efa8;
}
.home #social-media-buttons {
  margin-right: 15px;
}
/* Header /-/ */





/* Responsive menu */
.slicknav_menu {
  display: none;
}
#mobile-nav {
  display: none;
}
.show-responsive-nav {
  display: none;
}
.hide-responsive-nav {
  display: block;
}
#mobile-logo {
  display: none;

}
@media (max-width:1080px) {
  .nav-bar-container {
  display:none;

}

.empty-bar {
  display:none;
}
  .slicknav_menu {
  display: block;
  position: absolute;
  float: right;
  z-index: 999999;
  width: 100%;
  background: #ffffff;
  padding: 5px;
  border-top: solid 10px #e8efa8;
}
.slicknav_nav a {
  padding: 5px 10px;
  margin: 2px 5px;
  text-decoration: none;
  color: #56534c;
}
.slicknav_btn {
  margin: 5px 5px 6px;
  text-decoration: none;
  text-shadow: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #56534c;
}
#mobile-logo {
   display: block;
  position: absolute;
  float: left;
  z-index: 9999999;
  padding: 0 10px;
}
  #mobile-nav {
  
  display: block;
  
  z-index: 99999;
  width: 100%;
}
#menu-mob {
    position: fixed;
    z-index: 9999;
    width: 100%;
}
.slicknav_menu {
  position: absolute;
  float: right;
}
#logo {
  max-width: 300px;
  float: left;
  position: absolute;
  z-index: 9999999;
}
  .regular-nav-header {
    display: none;
  }
  #inner-header nav {
    display: none;
  }
  .nav-bar-container {  
    position: absolute;
    width: 100%;
    top: 0;
  }
  .hide-responsive-nav {
    display: none;
  }
  .show-responsive-nav {
    display: block;
  }
  .register-tabs {
    float: right;
    margin-left: 25px;
  }
  ul.slicknav_nav {
    margin-bottom: 10px;
  }
  .homepage-header-bar {
    display: none;
  }
}
@media (max-width:420px) {
 #mobile-logo h1 a, #mobile-logo h1 {
    font-size: 14px;
    margin-top: 20px;
    line-height: 29px
  }
}

.entry-content {
  position:relative;
  background: #ffffff;
  max-width:500px;
  padding: 20px;
  margin-bottom: 40px;
}

@media (min-width:1400px) {
  
  .entry-content {
    max-width: 600px;
  }

}

.contact-section .entry-content {
  max-width:540px;
}
.contact-section .entry-content {
  position:relative;
  max-width:500px;
  padding: 20px;
  background: none;
}
@media (min-width:1400px) {
  
  .contact-section .entry-content {
    max-width: 640px;
  }

}



/* Responsive menu /-/ */


p {
  margin-top:0px;
}
/* prices */
.price-header {
  font-weight: bold;
  margin-bottom: 4px;
}

.form-container-background {
  background: #ffffff;
   -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; /* future proofing */
  -khtml-border-radius: 4px; /* for old Konqueror browsers */
}
/* Contact */
.form-container {
  width:90%;
}
input.wpcf7-form-control, .wpcf7-textarea {
  width: 100%;
  padding: 6px 10px;
  font-size: 20px;
  border: solid 1px #e8efa8;
}

.wpcf7-submit {

  background: #e8efa8;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
  border: none;
  float:right;
  width:34% !important;

}

h2.section-title {
  font-size: 25px;
  border-bottom: solid 6px #e8efa8;
  width: auto;
  display: inline-block;
  padding-right: 6%;
  font-weight: 400;
}


p.price-info {
  padding-left: 10px;
}

.entry-content {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
}

#book-now {
  color: #56534c;
  background:#e8efa8;
  position: fixed;
  right:-92px;
  top:50%;
  z-index: 999999999;
  writing-mode:tb-rl;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform:rotate(90deg);
    transform: rotate(90deg);
    white-space:nowrap;
   
}
#book-now h1 {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 14px;
  letter-spacing: 2.8px;
}

/* TREATMENTS */
.treament-img {
  position:relative;
  cursor: pointer;
}
.treatment-overlays {
  position: absolute;
  /*background: url("../images/treatments/cheeks.png") no-repeat 5px 4px;*/
  top:0;
  height:100%;
  width:100%;
  cursor: pointer;
}




.treament-img img {
  max-width: 300px;
}

.treaments-img {
  position: relative;
}

.treaments-img img {
  max-width: 400px;
}

.hover-instructions {
  font-style: italic;
  font-weight: 400;
  font-family: "freight-display-pro";
}

.face_1 {
    width: 210px;
    width: 56.5%;
    height: 90px;
    height: 15.67%;
    position: absolute;
    top: 86px;
    top: 14.99%;
    left: 88px;
    left: 22%;
}

.face_2 {
    width: 15%;
    height: 12%;
    position: absolute;
    top: 32%;
    left: 43%;
}

.face_3 {
    width: 11%;
    height: 12%;
    position: absolute;
    top: 37%;
    left: 10%;
}

.face_4 {
    width: 11%;
    height: 12%;
    position: absolute;
    top: 37%;
    left: 79%;
}
.face_5 {
    width: 17%;
    height: 19%;
    position: absolute;
    top: 50%;
    left: 14%;
}
.face_6 {
    width: 17%;
    height: 19%;
    position: absolute;
    top: 50%;
    left: 69%;
}
.face_7 {
    width: 11%;
    height: 15%;
    position: absolute;
    top: 55%;
    left: 32%;
}
.face_8 {
    width: 11%;
    height: 15%;
    position: absolute;
    top: 55%;
    left: 57%;
}
.face_9 {
    width: 11%;
    height: 15%;
    position: absolute;
    top: 73%;
    left: 25%;
}
.face_10 {
    width: 11%;
    height: 15%;
    position: absolute;
    top: 73%;
    left: 63%;
}

.face_11 {
    width: 25%;
    height: 10%;
    position: absolute;
    top: 71%;
    left: 37%;
}

.content-box {
  min-width: 460px;
}
.content-box.treaments {
  min-width: 400px;
}

.treatments-info {
  max-width: 460px;
  min-width: 100px;
  width: 39.3%;
}

.treatment-content-area {
   min-height: 360px;
}


 

@media (max-width:950px) {
  .treatments-info {
    max-width: 360px;
    min-width: 100px;
    width: 30.3%;
  } 
}
.content-box.right {
  float: right;
  margin-right: 8%;
}
.content-box.left {
  float: left;
  margin-left: 8%;
}
.treatments.left {
  min-width: 340px;
  float: left;
  margin-left: 8%;
}

ul.treament-text-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul.treament-text-list h3 {
  padding: 0;
  margin: 0;
  font-weight: normal;
  color: #000000;
  font-size: 23px;
  
}
ul.treament-text-list li {
  display: none;
}
ul.condition-treatment-list {
  margin: 0;
  padding: 0;


}


ul.condition-treatment-list li {
  background: #e8efa8;
  display: block;
  float: left;
  text-decoration: none;
  list-style: none;
  padding: 10px;
  margin: 10px;
  -moz-border-radius: 4px;
  activeactive-webkit-border-radius: 4px;
  border-radius: 4px; /* future proofing */
  cursor: pointer;
}
ul.condition-treatment-list li a {
  color: #56534c;
  -khtml-border-radius: 4px; /* for old Konqueror browsers */
}


ul.condition-treatment-list li:hover {
  text-decoration: none;
  color: #ffffff;
}

.treatments_content-box {
  max-width: 700px; 
  margin-left: 8%;
  background: #ffffff;
  position: relative;
  background: #ffffff;
  padding: 20px 20px 20px 20px;
  margin-top: 90px;
  margin-bottom: 40px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
}

@media (max-width:800px) {
  .treatments_content-box {
    max-width: 700px; 
    margin-left: 0;
    width:100%;
  }
}

ul.treatment-title {
  margin: 10px 0 20px 0;
  padding: 0;
}
ul.treatment-title li {
    float: left;
    list-style: none;
    padding: 6px;
    font-size: 17px;
    margin: 0px 8px;
    cursor: pointer;
    /* width: 100px; */
}
ul.treatment-title li:hover {
    background: #e8efa8;
    -moz-border-radius: 4px;
    activeactive-webkit-border-radius: 4px;
    border-radius: 4px; /* future proofing */
    -khtml-border-radius: 4px; /* for old Konqueror browsers */
}

ul.treatment-title li.active {
    background: #e8efa8;
    -moz-border-radius: 4px;
    activeactive-webkit-border-radius: 4px;
    border-radius: 4px; /* future proofing */
    -khtml-border-radius: 4px; /* for old Konqueror browsers */

}

ul.treatment-text {
  margin: 0;
  padding: 0;
}

ul.treatment-text li {
  list-style: none;
  display: none;
}
ul.treatment-text li.active {
  display:block;
}

@media (max-width:840px) {
  .logo-container {
  max-width: 340px;
  padding-top: 40px;
  float: none;
  margin: auto;
}
}

@media (max-width:500px) {
 
 .content-box {
  min-width: 280px;
  width:100%;
  float: left;
  margin: auto;

 }
 .entry-content {
}

 .content-box.right {
  float: left;
 }
 .content-box.left {
  float: left;
  margin-left: 0; 
}

.content-box {
  min-width: 280px;
  width: 100%;
  float: left;
  margin: auto;
}

 #book-now {

  position: fixed;
  right:0px;
  top:0;
  z-index: 999999999;
   writing-mode:tb-rl;
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform:rotate(0deg);
    transform: rotate(0deg);
    white-space:nowrap;
   
  }
}

.treatments-tabs-box {
  display: none;
  position: relative;
  background: #ffffff;
  max-width: 580px;
  padding: 20px 0;
  margin-bottom: 40px;
}
.treatments-tabs-box .entry-content {
  max-width: 580px;
}
@media (max-width:960px) {
  .treatments-tabs-box {
    display: block;  
    min-height: 400px;
    background: #ffffff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -khtml-border-radius: 10px;
  }
  .treatments, .treatments-info {
     display: none;
  }



}
@media (max-width:1140px) {
  .content-box.treatments.left {
    min-width: 340px;
  }
}

@media (max-width:600px) {
  .section-7 {
    display: none;
  }
}

a:active {
  outline: none;
}
a:focus {
  -moz-outline-style: none;
}
#tabs_container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
 .tabs {
  list-style: none;
  height: 21px;
  margin: 0 0 10px 0;
  padding: 0;
}
.tabs li {
  float: left;
  text-decoration: none;
  list-style: none;
}
/*li {
  display: inline-block;
  max-width: 80px;
  padding-right: 1px;
}*/
 ul.tabs li a {
  padding: 3px 8px;
  display: block;
  text-decoration: none;
  color: #56534c;
  background-color: rgb(255, 255, 230);
}
 ul.tabs li.active a {
  background-color: #e8efa8;
  
}
.tab_contents {
  padding:20px 0;
}
@media (max-width:340px) {
  .tab_contents {
    padding: 40px 0;
  }
}
div.tab_contents_container {

  padding: 10px 0;
}
div.tab_contents {
  display: none;
}


div.tab_contents h3 {
  margin: 16px 0 0 0;
}

div.tab_contents_active {
  display: block;
}
div.clear {
  clear: both;
}


.anystretch-under {
  background: #ffffe6;
  background: rgb(221, 234, 217);
}
@media (max-width:840px) {
  .section-1 .anystretch {
    display: none;
 }

 
  
  
}  
.section-1, .section-2, .section-3, .section-4, .section-5, .section-6 {
  padding-top: 40px;
  padding-bottom: 40px;
}



.section-3 {
  background: rgb(255, 255, 230);
}

@media (min-width:560px) {
  .section {
    min-height: 800px;
    padding-bottom: 160px;
    padding-top: 120px;
  }
}
@media (min-width:1400px) {
  
  .section {
    min-height: 900px;
  }

}

@media (min-width:1600px) {
  
  .section {
    min-height: 1000px;
  }

}

.section-1 {
}

.section-1, .section-2, .section-3, .section-4, .section-5, .section-6  {
  padding-top: 100px;
}


div#map-canvas {
    height: 400px;
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
}
    
    
.section-1, .section-2, .section-3, .section-4, .section-5, .section-6 {
  padding-top: 80px;
}
.section-1 {
  background-color: #f2f6d4;
}
.section-5 {
  background-color: #faf6ea;
}
.section-3-b {
  background-color: #ecfbf4;
}
.section-4 {
  background-color: #fbf8ec;
}

.section-6 {
  background-color: #dfecdb;
}
.section-7 {
  background-color: #ffffe8;
}
    
    
    
    
    
    
    
